<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><div th:switch="${videos}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Link</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="video : ${videos}">
                <td th:text="${video.title}"></td>
                <td th:text="${video.description}"></td>
                <td><a th:href="${video.link}">Link</a></td>
                <td><a th:href="@{/edit/{link}(link=${video.link})}">Edit</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup">Add a new user</a></p>
</div>

</body>
</html>